{% include 'barra_brasil.html' %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="container-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#side_bar_right">
                <span class="sr-only">Navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="scroll-home">
                <a href="#page-top">
                    <button type="button" class="btn btn-default btn-circle">
                        <i class="glyphicon glyphicon-home"></i>
                    </button>
                </a>
            </div>
        </div>

        <div>
            <nav>
                <div>
                    <!--<button type="button" class="btn-navbar navbar-right-scnd-btn" data-toggle="sidebar" data-target=".sidebar-right">-->
                        <!--<i class="fa fa-plus"></i>-->
                    <!--</button>-->
                    <div class="dropdown">
                        {% if current_user.is_authenticated() %}

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="avatar">
                                    <button type="button" class="btn-navbar navbar-right-fisrt-btn avatar"
                                            style="background-image:url({{ current_user.picture }});">
                                    </button>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ url_for('main.profile') }}">Perfil</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('auth.logout') }}">Log Out</a>
                                    </li>
                                </ul>

                        {% else %}
                            <a href="{{ url_for('auth.login') }}" id="login-button">
                                <button type="button" class="btn-navbar navbar-right-fisrt-btn">
                                    <i class="fa fa-lock"></i>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id='side_bar_right'>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden active">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#tools">Ferramentas</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">Sobre o Curso</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Contato</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</nav>
