<!-- Tools Grid Section -->
<section id="tools">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ferramentas</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 tools-item">
                <a href="#toolsModal1" class="tools-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/tools/cabin.png') }}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 tools-item">
                <a href="#toolsModal2" class="tools-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/tools/cake.png') }}" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>